//styled komponent from hamburger menu - NavigationSM component

//reading - with hamburger menu
.hamburgerContainer{
    height: 60px;
    background-color: $hamburger;
    position: relative;
    margin-bottom: 20px;
}
.smallScr{
    float: left;
    position: absolute;
    left: 20px;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
.hamburgerMenu{
    height: 50px;
    float: right;
    filter: invert(100%);
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
}
// img from bacgroundScreen / homescreen
.homeImg{
    width: 90%;
    margin: 30px 5% 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px 1px $fontLight;
    z-index: -5;
}




