//styled komponent from hamburger menu - NavigationSM component

//reading - with hamburger menu
.hamburgerContainer{
    height: 60px;
    background-color: $hamburger;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 20px;
    width: 100%;
    z-index: 1005;
}
.smallScr{
    float: left;
    position: absolute;
    left: 20px;
    top: 6px;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
}
.hamburgerMenu{
    height: 40px;
    float: right;
    filter: invert(100%);
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}





