// Styled Heading component
.title{
    display: none;
    padding-top: 15px;
    width: 80%;
    margin: 0 auto 20px;
    text-align: center;
}
.headingTitle{
    font-family: $titleFont;
}

.titleImg{
    border-radius: 10%;
    margin: auto;
}

