
.homeImgContainer{
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 50px);
}
// img from bacgroundScreen / homescreen
.homeImg{
    width: 316px;
    // min-width: 230px;
    height: 60vh;
    margin: 110px 0 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px 5px rgba(0, 0, 0, 0.6);
    z-index: -5;
    object-fit: cover;
}
.homeImgBig{
    display: none;
}

.homeAnima-appear{transform:scale(0.8); opacity: 0.05;}
.homeAnima-appear-active{transform:scale(1); opacity: 1; transition: opacity 1200ms, transform 500ms cubic-bezier(0.16, 1, 0.3, 1);}
// .homeAnima-appear{opacity: 0.25;}
// .homeAnima-appear-active{opacity: 1; transition: opacity 1200ms}
.homeAnima-appear-done{}

.SocialMediaTable{
    position: absolute;
    top: 40vh;
    right: 0;
}
.SocialMediaTable td{
    padding: 5px;
}
@media only screen and (min-width: 770px) {
    .homeImg{
        display: none;
    }
    .homeImgBig{
        display: block;
        width: 700px;
        z-index: -5;
        object-fit: contain;
        height: 60vh;
        margin: 110px 0 20px;
        border-radius: 10px;
        object-fit: cover;
    }
}
