

body{
    //background-color: $bgColor;
    // background-image: linear-gradient($gradientOuter, $hamburger, $gradientOuter);
    background-color: #326765;
    background-image:url("https://www.transparenttextures.com/patterns/black-linen.png"); 
    //url("https://www.transparenttextures.com/patterns/hexellence.png");
    //url("https://www.transparenttextures.com/patterns/binding-dark.png");
    //url("https://www.transparenttextures.com/patterns/black-thread.png");
    //url("https://www.transparenttextures.com/patterns/darth-stripe.png");
    //url("https://www.transparenttextures.com/patterns/diagmonds.png");
    font-family: $bodyFont;
    color: $fontColor;
}

