
// NAVIGATION

//nav sm-screen
.manuSm{
    width: 200px;
    z-index: 11;
    
    // background-color: $menuBG;
    // height: calc(100vh - 110px);
    // display: block;
    // padding-top: 5px;
    // // width: 100%;
    // position: fixed;
    // top: 110px;
    // left: -200px;
    // background-color: $menuBG;
    // // height: calc(80vh - 110px);
    // height: calc(60vh - 5px);
    // // z-index: 1000;
   
}

//Animation of small screen
.manuSm-enter{}
.manuSm-enter-active{transform: translateX(200px); 
    transition: transform 500ms cubic-bezier(0.34, 1.56, 0.64, 1);}
.manuSm-enter-done{transform: translateX(200px)}

.manuSm-exit{transform: translateX(200px)}
.manuSm-exit-active{ opacity: 0; transform: translateX(-200px); 
    transition: opacity 800ms, transform 500ms cubic-bezier(0.7, 0, 0.84, 0);}
.manuSm-exit-done{transform: translateX(-200px);}

//menu on big screen
.menuBig{
    display: none;
}
.menuBacground{
    // height: calc(100vh - 110px);
    // width: calc(100vw - 220px);
    height: calc(100vh - 60px);
    width: 100vw;
    position: fixed;
    top: 60px;
    // left: 200px;
    z-index: 10;
    // background-color: chartreuse;
    
}
nav{
    display: block;
    padding-top: 5px;
    // width: 100%;
    position: fixed;
    top: 110px;
    left: -200px;
    background-color: $menuBG;
    // height: calc(80vh - 110px);
    height: calc(60vh - 5px);
}
.link, .subLink{
    padding: 10px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid $hamburger;
    width: 75%;
    margin: 0px auto;
}
.link:hover:not(.navActiveLink){
    background-color: $gradientOuter;
    color: $fontAktiv;
}
// .first, .secund, .third{
//     display: none;
// }
.logoInMenu{
    display: none;
}
.navActiveLink{
    background-color: $hamburger;
    color: $fontAktiv;
}
    //subMenu

.productsMenu{
    width: 100%;
}
.subLink{
    background:linear-gradient(to bottom, $btnGradientLight 5%, $gradientOuter 100%);
    color: $fontLight;
}
.subLink:hover:not(.subActiveLink){
    background:linear-gradient(to bottom, $fontLight 5%, $btnGradientLight 100%);
    color: $gradientOuter;
}
.subActiveLink{
    background: none;
    background-color: $fontLight;
    color: $hamburger;
}
//submenu animation
.productsMenu-enter{transform: scaleX(0.3); opacity: 0.2;}
.productsMenu-enter-active{transform: scaleX(1); opacity: 1; transition: opacity 800ms, transform 500ms cubic-bezier(0, 0.55, 0.45, 1);}
.productsMenu-enter-done{transform: scaleX(1); opacity: 1;}

.productsMenu-exit{ opacity: 1}
.productsMenu-exit-active{opacity: 0; transition: opacity 800ms;}
.productsMenu-exit-done{opacity: 0;}

@media only screen and (min-width: 481px) {
    
    //menu links style changed
    .link{
        background-color: $hamburger;
        color: $fontLight;
    }
    .navActiveLink{
        background-color: $fontLight;
        color: $gradientOuter;
    }
    .menuBacground{
        display: none;
    }
    .manuSm{
        background-color: $hamburger;
        width: 100%;
        display: inline-block;
        height: 50px;
        position: fixed;
        top: 0px;
        left: 0px;
        padding: 0;
    }
    .manuSm a.link, .subLink{
        // height: 50px;
        display: inline-block;
        width: 110px;
        padding: 0;
        // border: none;
        line-height: 50px;
        float: left;
    }
    //disabling menu animation on bigger screens
    .manuSm-enter{transform: translateX(0px)}
    .manuSm-enter-active{transform: translateX(0px)}; 
    .manuSm-enter-done{transform: translateX(0px)}

    .manuSm-exit{transform: translateX(0px)}
    .manuSm-exit-active{ transform: translateX(0px)}
    .manuSm-exit-done{transform: translateX(0px)}

    .subLink{
        display: block;
        position: absolute;
        top: 50px;
        left: 110px;
        // width: 180px;
        width: 100%;
        background:linear-gradient(to bottom, $gradientOuter 1%, $hamburger 5%, $gradientOuter );
        color: $fontLight;

    }
    .subLink:hover:not(.subActiveLink){
        background:linear-gradient(to bottom, $fontLight 5%, $btnGradientLight 100%);
        color: $gradientOuter;
    }
    .subActiveLink{
        background: none;
        background-color: $fontLight;
        color: $hamburger;
    }
    
    .first{
        position: absolute;
        top: 50px;
        // left: 75px;
        left: 0;
        
        
    }
    .secund{
        position: absolute;
        top: 100px;
        // left: 75px;
        left: 0;
        
    }
    .third{position: absolute;
        top: 150px;
        // left: 75px;
        left: 0;
        border-bottom: none;
    
    }
    
}    
@media only screen and (min-width: 770px) {
    //changing back the becgraund stiye for submenu links (subLinks)
    // .subLink{
    //     background:linear-gradient(to bottom, $btnGradientLight 5%, $gradientOuter 100%);
    //     color: $fontLight;
    // }
    // .subLink:hover:not(.subActiveLink){
    //     background:linear-gradient(to bottom, $fontLight 5%, $btnGradientLight 100%);
    //     color: $gradientOuter;
    // }
    // .subActiveLink{
    //     background: none;
    //     background-color: $fontLight;
    //     color: $hamburger;
    // }
    .manuSm a.link, .subLink{
        width: 180px;
    }
    .subLink{
        display: block;
        position: absolute;
        top: 50px;
        left: 180px;
    }
    .subLink.first{
        position: absolute;
        top: 50px;
        left: 180px;
        
    }
    .secund{
        position: absolute;
        top: 100px;
        left: 180px;
        
    }
    .third{position: absolute;
        top: 150px;
        left: 180px;
        border-radius: 0 0 10px 10px;
    }
}
